.projection {
    font-family: 'microsoft yahei'
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.projection .list {
    list-style: none;
}
.projection .list .item {
    padding: 10px;
    border-bottom: 3px solid #333333;
}
.projection .list .item p{
    text-indent: 2em;
    margin: 0;
    word-break: break-all;
}

.projection .webui-popover-content{
    display: none;
}
.projection .list .item .images {
    overflow: hidden;
}
.projection .list .item .images .image {
    float: left;
    width: 25%;
    padding-bottom: 25%;
    position: relative;
    overflow: hidden;
    outline: 1px solid #ffffff;
}
.projection .list .item .images .image img {
    width: 100%;
    position: absolute;
}
a.see-link[href="#"]{
    display: none;
}
@media screen and (max-width: 720px) {
    .projection .webui-popover-content{
        display: block;
    }
    .projection .list .item .images .image {
        float: left;
        width: 50%;
        padding-bottom: 50%;
        position: relative;
        overflow: hidden;
        outline: 1px solid #ffffff;
    }
}