.projection {

}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.projection .list {
    list-style: none;
}
.projection .list .item {
    border: 1px solid #111;
    padding: 10px;
}
.projection .list .item p{
    margin: 0;
    word-break: break-all;
}
.projection .list .item .container{
    overflow: hidden;
}
.projection .list .item .container .label{
    float: left;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    /* display: inline-block; */
    text-align: justify;
}
.projection .list .item .container .label::after{
    content: '';
    width: 100%;
}
.projection .list .item .container .detail{
    padding-left: 100px;
}
.projection .list .item .images .label {
    float: none;
}
.projection .list .item .images .detail {
    width: 100%;
    padding: 0;
}
.projection .list .item .images .detail .image {
    float: left;
    width: 25%;
    padding-bottom: 25%;
    position: relative;
    overflow: hidden;
    background-color: #cccccc;
    outline: 1px solid #ffffff;
}
.projection .list .item .images .detail .image img {
    position: absolute;
    width: 100%;
}
